# 카이스퀘어 검정
## 1. 적합도 검정
## 2. 독립성 검정
## 3. 동질성 검정

### 2. 두 범주형 변수 집단간의 독립성 검정실시(두 변수간의 연관관계가 유의한지)
### 발생건수를 값으로 하여 지역, 나이 연관관계의 유의성을 살펴보자

In [1]:
import pandas as pd
from scipy.stats import chi2_contingency

In [2]:
df_suspect_origin = pd.read_csv('./data/금융사기용의자의 연령대별 지역데이터.csv',names=['고유번호', '생년구간', '광역시도명', '법정시군구명', '등록일시'],index_col=0)
df_victim_origin = pd.read_csv('./data/금융사기피해자의 연령대별 지역데이터.csv',names=['고유번호', '생년구간', '광역시도명', '법정시군구명', '등록일시'],index_col=0)

In [3]:
df_suspect_origin['광역시도명'].value_counts()

서울특별시                        11912
경기도                           7190
부산광역시                         2079
인천광역시                         1835
대구광역시                         1441
경상남도                          1426
충청남도                          1347
경상북도                          1291
대전광역시                          936
충청북도                           850
강원도                            835
전라북도                           818
광주광역시                          776
전라남도                           656
울산광역시                          578
제주특별자치도                        375
Seoul                          169
Tokyo                           52
England                         50
CentralLuzon                    10
Scotland                         9
CanTho                           6
NewYork                          6
Texas                            6
Michigan                         4
Busan                            4
Vienna                           2
TinhThaiNguyen                   2
TaipeiCity                       2
Illinois                         2
Florida                          2
Georgia                          2
MetroManila                      2
Jakarta                          2
Baden-Württemberg                2
WesternVisayas                   1
Hsinchu                          1
NewTaipei                        1
Ōsaka                            1
Washington                       1
NewSouthWales                    1
DaNang                           1
VästraGötalandCounty             1
Victoria                         1
Nevada                           1
OsloCounty                       1
RiodeJaneiro                     1
Bangkok                          1
Yogyakarta                       1
NewJersey                        1
Arizona                          1
Hanoi                            1
CentralandWesternDistrict        1
BanteayMeanchey                  1
California                       1
BritishColumbia                  1
Name: 광역시도명, dtype: int64

In [ ]:
df_suspect_origin = pd.read_csv('./data/금융사기용의자의 연령대별 지역데이터.csv',names=['고유번호', '생년구간', '광역시도명', '법정시군구명', '등록일시'],index_col=0)
df_victim_origin = pd.read_csv('./data/금융사기피해자의 연령대별 지역데이터.csv',names=['고유번호', '생년구간', '광역시도명', '법정시군구명', '등록일시'],index_col=0)
## 지역별 시구군
seoul = '종로구 중구 용산구 성동구 광진구 동대문구 중랑구 성북구 강북구 도봉구 노원구 은평구 서대문구 마포구 양천구 강서구 구로구 금천구 영등포구 동작구 관악구 서초구 강남구 송파구 강동구'.split(' ')
busan = '중구 서구 동구 영도구 부산진구 동래구 남구 북구 강서구 해운대구 사하구 금정구 연제구 수영구 사상구 기장군'.split(' ')
daegu = '중구 동구 서구 남구 북구 수성구 달서구 달성군'.split(' ')
incheon = '중구 동구 미추홀구 연수구 남동구 부평구 계양구 서구 강화군 옹진군'.split(' ')
gwangju = '동구 서구 남구 북구 광산구'.split(' ')
daejun = '동구 중구 서구 유성구 대덕구'.split(' ')
ulsan = '중구 남구 동구 북구 울주군'.split(' ')
gg = '남양주시 수원시 성남시 의정부시 안양시 부천시 광명시 동두천시 평택시 안산시 고양시 과천시 구리시 오산시 시흥시 군포시 의왕시 하남시 용인시 파주시 이천시 안성시 김포시 화성시 광주시 양주시 포천시 여주시 연천군 가평군 양평군'.split(' ')
gangwon = '춘천시 원주시 강릉시 동해시 태백시 속초시 삼척시 홍천군 횡성군 영월군 평창군 정선군 철원군 화천군 양구군 인제군 고성군 양양군'.split(' ')
chungbuk='청주시 충주시 제천시 보은군 옥천군 영동군 증평군 진천군 괴산군 음성군 단양군'.split(' ')
chungnam='천안시 공주시 보령시 아산시 서산시 논산시 계룡시 당진시 금산군 부여군 서천군 청양군 홍성군 예산군 태안군'.split(' ')
jeonbuk='전주시 군산시 익산시 정읍시 남원시 김제시 완주군 진안군 무주군 장수군 임실군 순창군 고창군 부안군'.split(' ')
jeonnam='목포시 여수시 순천시 나주시 광양시 담양군 곡성군 구례군 고흥군 보성군 화순군 장흥군 강진군 해남군 영암군 무안군 함평군 영광군 장성군 완도군 진도군 신안군'.split(' ')
geonbuk='포항시 경주시 김천시 안동시 구미시 영주시 영천시 상주시 문경시 경산시 군위군 의성군 청송군 영양군 영덕군 청도군 고령군 성주군 칠곡군 예천군 봉화군 울진군 울릉군'.split(' ')
geonnam ='창원시 진주시 통영시 사천시 김해시 밀양시 거제시 양산시 의령군 함안군 창녕군 고성군 남해군 하동군 산청군 함양군 거창군 합천군'.split(' ')
jeju='제주시 서귀포시'.split(' ')
sejong = '세종시'.split(' ')
all_region = seoul+ busan +daegu +incheon+gwangju+daejun+ulsan+gg+gangwon+chungbuk+chungnam+jeonbuk+jeonnam+geonbuk+geonnam+jeju+sejong
part = gg+gangwon+chungbuk+chungnam+jeonbuk+jeonnam+geonbuk+geonnam+jeju
def delete_detail_region(region):
    region = str(region)
    if len(region) > 4:
        region=region[0:3]
        for i in all_region:
            if i in region:
                return i
            else:
                return region
    else:
        return region

df_suspect_origin['법정시군구명']=df_suspect_origin['법정시군구명'].apply(lambda x: delete_detail_region(x))
df_victim_origin['법정시군구명']=df_victim_origin['법정시군구명'].apply(lambda x: delete_detail_region(x))






df_victim_origin=df_victim_origin[(df_victim_origin['생년구간']!='2090-2100') & (df_victim_origin['생년구간']!='2070-2080')]


df_suspect_origin=df_suspect_origin[df_suspect_origin['생년구간']!='2080-2090']



df_victim_origin=df_victim_origin.query('광역시도명 in ["서울특별시","부산광역시","대구광역시","인천광역시","광주광역시","대전광역시","울산광역시","경기도","강원도","충청북도","충청남도","전라북도","전라남도","경상북도","경상남도","제주특별자치도"]')
df_suspect_origin=df_suspect_origin.query('광역시도명 in ["서울특별시","부산광역시","대구광역시","인천광역시","광주광역시","대전광역시","울산광역시","경기도","강원도","충청북도","충청남도","전라북도","전라남도","경상북도","경상남도","제주특별자치도"]')

# 카이스퀘어 검정 실시
# 유의확률 0.05
# 귀무가설: 두 변수는 독립이다.

# 용의자 데이터 카이스퀘어 검정
## 유의확률이 매우낮음 -> 귀무가설을 기각한다. -> 두 변수는 연관성이 있다.
## 지역과 나이는 연관성이 있다.

In [5]:
suspect_crosstab=pd.crosstab(df_suspect_origin['광역시도명'], df_suspect_origin['생년구간'], margins=False)

In [6]:
suspect_crosstab

생년구간,1900-1910,1910-1920,1930-1940,1940-1950,1950-1960,1960-1970,1970-1980,1980-1990,1990-2000,2000-2010,2010-2020
광역시도명,,,,,,,,,,,
강원도,0,0,0,2,4,8,48,51,332,320,70
경기도,1,0,10,14,20,208,277,716,2473,2722,749
경상남도,4,2,1,1,1,110,69,119,451,477,191
경상북도,0,0,2,0,16,18,43,93,528,463,128
광주광역시,0,4,0,1,4,18,33,90,213,324,89
대구광역시,0,0,15,2,7,29,43,144,613,481,107
대전광역시,0,0,21,0,3,12,71,81,307,352,89
부산광역시,0,0,2,1,14,39,62,163,687,901,210
서울특별시,0,0,37,20,97,247,616,943,4351,4703,897
울산광역시,0,0,0,0,0,10,17,29,239,225,58
인천광역시,0,0,1,0,8,74,93,218,655,626,160
전라남도,0,0,0,0,3,10,35,42,199,307,60
전라북도,0,0,2,0,2,11,23,40,350,310,80
제주특별자치도,0,0,0,1,0,3,16,29,132,148,46
충청남도,0,0,0,1,3,18,55,127,450,570,123
충청북도,0,0,0,5,6,16,41,89,285,361,47

In [7]:
#교차분석 결과값들 일괄계산
#correction=True를 적용하면 Yates' correction이 적용 되어 검정통계량이 보수적으로 더 낮게 나옴
result=chi2_contingency(observed=suspect_crosstab, correction=False)
print("1. 카이제곱 통계량:", result[0])
print("2. p-value:", result[1])
print("3. df:", result[2]) #(행의개수-1)*(열의개수-1)
print("4. 기대값 행렬:")

1. 카이제곱 통계량: 1155.3049604327152
2. p-value: 1.0762323011378031e-154
3. df: 150
4. 기대값 행렬:

In [8]:
pd.DataFrame(result[3]).rename(index={0:'강원도', 1:'경기도', 2:'경상남도', 3:'경상북도', 4:'광주광역시', 5:'대구광역시',
                                      6:'대전광역시', 7:'부산광역시', 8:'서울특별시', 9:'울산광역시', 10:'인천광역시', 11:'전라남도', 12:'전라북도',
                                      13:'제주특별자치도', 14:'충청남도', 15:'충청북도'},
                             columns={0:'1900-1910', 1:'1910-1920', 2:'1930-1940', 3:'1940-1950',
                                      4:'1950-1960', 5:'1960-1970', 6:'1970-1980', 7:'1980-1990', 8:'1990-2000',
                                      9:'2000-2010', 10:'2010-2020'})

,1900-1910,1910-1920,1930-1940,1940-1950,1950-1960,1960-1970,1970-1980,1980-1990,1990-2000,2000-2010,2010-2020
강원도,0.121564,0.145877,2.212468,1.167016,4.570813,20.203966,37.490391,72.306371,298.196919,323.117575,75.467039
경기도,1.046762,1.256115,19.051072,10.048917,39.358258,173.971873,322.821454,622.614139,2567.707605,2782.293850,649.829956
경상남도,0.207605,0.249126,3.778418,1.993012,7.805963,34.504018,64.025507,123.483694,509.256056,551.815164,128.881435
경상북도,0.187951,0.225542,3.420714,1.804333,7.066969,31.237509,57.964186,111.793443,461.044578,499.574598,116.680177
광주광역시,0.112975,0.135570,2.056138,1.084556,4.247845,18.776380,34.841370,67.197298,277.126718,300.286513,70.134638
대구광역시,0.209789,0.251747,3.818163,2.013976,7.888074,34.866964,64.698987,124.782611,514.612887,557.619672,130.237130
대전광역시,0.136268,0.163522,2.480084,1.308176,5.123690,22.647799,42.025157,81.052411,334.266247,362.201258,84.595388
부산광역시,0.302673,0.363208,5.508648,2.905660,11.380503,50.304245,93.344340,180.029874,742.456761,804.504717,187.899371
서울특별시,1.734073,2.080887,31.560127,16.647100,65.201141,288.202918,534.788085,1031.426567,4253.680847,4609.165793,1076.512462
울산광역시,0.084149,0.100978,1.531505,0.807827,3.163988,13.985500,25.951433,50.051596,206.416550,223.667016,52.239460
인천광역시,0.267150,0.320580,4.862130,2.564640,10.044840,44.400332,82.389064,158.900827,655.318979,710.084731,165.846727
전라남도,0.095504,0.114605,1.738178,0.916841,3.590962,15.872816,29.453529,56.805963,234.272071,253.850454,59.289075
전라북도,0.119089,0.142907,2.167424,1.143256,4.477754,19.792628,36.727114,70.834265,292.125844,316.539133,73.930585
제주특별자치도,0.054595,0.065514,0.993623,0.524109,2.052760,9.073637,16.837002,32.472921,133.920772,145.112683,33.892383
충청남도,0.196104,0.235325,3.569095,1.882600,7.373515,32.592505,60.478512,116.642732,481.043414,521.244759,121.741440
충청북도,0.123748,0.148498,2.252213,1.187980,4.652923,20.566911,38.163871,73.605288,303.553750,328.922082,76.822735

# 피해자 데이터 카이스퀘어 검정
## 유의확률이 매우낮음 -> 귀무가설을 기각한다. -> 두 변수는 연관성이 있다.
## 지역과 나이는 연관성이 있다.

In [9]:
victim_crosstab=pd.crosstab(df_victim_origin['광역시도명'], df_victim_origin['생년구간'], margins=False)

In [10]:
victim_crosstab

생년구간,1900-1910,1910-1920,1920-1930,1930-1940,1940-1950,1950-1960,1960-1970,1970-1980,1980-1990,1990-2000,2000-2010,2010-2020
광역시도명,,,,,,,,,,,,
강원도,2,2,0,5,4,18,69,279,750,1328,2132,701
경기도,24,16,1,3,46,264,963,3347,8799,15406,22046,6170
경상남도,4,3,0,2,14,39,173,615,1707,2809,4210,1596
경상북도,2,2,0,4,14,51,131,483,1274,2229,3696,1267
광주광역시,0,4,0,0,2,31,68,353,807,1754,2753,766
대구광역시,3,0,0,4,27,65,243,617,1609,2822,4412,1077
대전광역시,6,3,0,4,2,23,113,391,907,1624,2895,792
부산광역시,6,8,0,1,9,72,227,749,1909,3587,5676,1599
서울특별시,17,14,0,10,106,294,1181,4646,13662,28186,33908,6480
울산광역시,0,0,0,0,1,42,51,146,682,1081,1637,599
인천광역시,1,3,0,4,23,46,238,699,1908,3591,4877,1447
전라남도,2,4,0,5,8,17,115,263,689,1239,2097,744
전라북도,0,2,0,0,17,26,41,269,722,1191,2514,851
제주특별자치도,0,2,0,0,4,7,39,106,366,553,826,318
충청남도,0,8,0,4,3,31,93,372,1283,2766,4146,1055
충청북도,0,1,0,1,12,20,76,332,1032,2004,2737,678

In [11]:
#교차분석 결과값들 일괄계산
#correction=True를 적용하면 Yates' correction이 적용 되어 검정통계량이 보수적으로 더 낮게 나옴
result=chi2_contingency(observed=victim_crosstab, correction=False)
print("1. 카이제곱 통계량:", result[0])
print("2. p-value:", result[1])
print("3. df:", result[2]) #(행의개수-1)*(열의개수-1)
print("4. 기대값 행렬:")

1. 카이제곱 통계량: 3150.338480364066
2. p-value: 0.0
3. df: 165
4. 기대값 행렬:

In [15]:
pd.DataFrame(result[3]).rename(index={0:'강원도', 1:'경기도', 2:'경상남도', 3:'경상북도', 4:'광주광역시', 5:'대구광역시',
                                      6:'대전광역시', 7:'부산광역시', 8:'서울특별시', 9:'울산광역시', 10:'인천광역시', 11:'전라남도', 12:'전라북도',
                                      13:'제주특별자치도', 14:'충청남도', 15:'충청북도'},
                             columns={0:'1900-1910', 1:'1910-1920', 2: '1920-1930', 3:'1930-1940', 4:'1940-1950',
                                      5:'1950-1960', 6:'1960-1970', 7:'1970-1980', 8:'1980-1990', 9:'1990-2000',
                                      10:'2000-2010', 11:'2010-2020'})

,1900-1910,1910-1920,1920-1930,1930-1940,1940-1950,1950-1960,1960-1970,1970-1980,1980-1990,1990-2000,2000-2010,2010-2020
강원도,1.384541,1.487865,0.020665,0.971245,6.034118,21.615369,78.960159,282.425671,787.452450,1491.377822,2078.092511,540.177584
경기도,14.940740,16.055721,0.222996,10.480818,65.114867,233.253943,852.068178,3047.687985,8497.490185,16093.630049,22424.935916,5829.118602
경상남도,2.924025,3.142235,0.043642,2.051181,12.743511,45.649699,166.756691,596.457391,1663.028122,3149.654636,4388.742823,1140.806044
경상북도,2.395596,2.574372,0.035755,1.680493,10.440508,37.399901,136.620479,488.665816,1362.486251,2580.450133,3595.610729,934.639968
광주광역시,1.711177,1.838877,0.025540,1.200378,7.457668,26.714799,97.588189,349.054639,973.225731,1843.218941,2568.349497,667.614565
대구광역시,2.847338,3.059826,0.042498,1.997387,12.409296,44.452477,162.383283,580.814533,1619.413081,3067.050912,4273.642425,1110.886945
대전광역시,1.769281,1.901317,0.026407,1.241137,7.710896,27.621909,100.901829,360.906907,1006.271939,1905.806063,2655.558672,690.283643
부산광역시,3.623100,3.893481,0.054076,2.541578,15.790227,56.563621,206.624854,739.058330,2060.624624,3902.673571,5438.002766,1413.549773
서울특별시,23.163971,24.892625,0.345731,16.249353,100.953424,361.634526,1321.037786,4725.104273,13174.421851,24951.399385,34767.391229,9037.405846
울산광역시,1.109465,1.192261,0.016559,0.778281,4.835279,17.320898,63.272611,226.314257,631.003957,1195.075725,1665.223848,432.856858
인천광역시,3.359802,3.610533,0.050146,2.356876,14.642718,52.453024,191.608990,685.349403,1910.874687,3619.058053,5042.811638,1310.824131
전라남도,1.356536,1.457770,0.020247,0.951600,5.912067,21.178159,77.363044,276.713091,771.524772,1461.211957,2036.059260,529.251497
전라북도,1.474314,1.584337,0.022005,1.034220,6.425367,23.016895,84.079882,300.737960,838.510330,1588.077745,2212.834615,575.202331
제주특별자치도,0.581298,0.624678,0.008676,0.407776,2.533417,9.075186,33.151326,118.576071,330.610943,626.153146,872.484587,226.792895
충청남도,2.554727,2.745378,0.038130,1.792122,11.134032,39.884238,145.695673,521.126083,1452.991183,2751.859909,3834.453875,996.724650
충청북도,1.804091,1.938724,0.026927,1.265556,7.862605,28.165357,102.887027,368.007590,1026.069893,1943.301952,2707.805610,703.864667