# 카이스퀘어 검정 예시

In [1]:
import pandas as pd
from scipy.stats import chi2_contingency

In [2]:
df=pd.DataFrame({"성별":['남자', '남자', '남자', '남자', '남자', '남자', 
'남자', '남자', '남자', '남자', '남자', '남자', '남자', '남자', '남자', '남자', 
'남자', '여자', '여자', '여자', '여자', '여자', '여자', '여자'], "흡연여부":['흡연', 
'흡연', '흡연', '흡연', '흡연','흡연', '비흡연', '흡연', '흡연', '흡연','흡연', 
'비흡연', '흡연', '흡연', '비흡연','비흡연', '비흡연','비흡연', '비흡연','비흡연', '비흡연',
'비흡연', '흡연', '비흡연']})

In [3]:
df

    성별 흡연여부
0   남자   흡연
1   남자   흡연
2   남자   흡연
3   남자   흡연
4   남자   흡연
5   남자   흡연
6   남자  비흡연
7   남자   흡연
8   남자   흡연
9   남자   흡연
10  남자   흡연
11  남자  비흡연
12  남자   흡연
13  남자   흡연
14  남자  비흡연
15  남자  비흡연
16  남자  비흡연
17  여자  비흡연
18  여자  비흡연
19  여자  비흡연
20  여자  비흡연
21  여자  비흡연
22  여자   흡연
23  여자  비흡연

In [4]:
#crosstab 객체의 margins=False여야 
smoke_crosstab=pd.crosstab(df['성별'], df['흡연여부'], margins=False)

In [5]:
smoke_crosstab

흡연여부  비흡연  흡연
성별
남자      5  12
여자      6   1

In [6]:
#교차분석 결과값들 일괄계산
#correction=True를 적용하면 Yates' correction이 적용 되어 검정통계량이 보수적으로 더 낮게 나옴
result=chi2_contingency(observed=smoke_crosstab, correction=False)
print("1. 카이제곱 통계량:", result[0])
print("2. p-value:", result[1])
print("3. df:", result[2]) #(행의개수-1)*(열의개수-1)
print("4. 기대값 행렬:")
pd.DataFrame(result[3]).rename(index={0:'남자', 1:'여자'}, columns={0:'비흡연', 1:'흡연'})

1. 카이제곱 통계량: 6.33108068402186
2. p-value: 0.011864000230647513
3. df: 1
4. 기대값 행렬:

         비흡연        흡연
남자  7.791667  9.208333
여자  3.208333  3.791667

In [7]:
df_suspect_origin = pd.read_csv('./data/금융사기용의자의 연령대별 지역데이터.csv',names=['고유번호', '생년구간', '광역시도명', '법정시군구명', '등록일시'],index_col=0)
df_victim_origin = pd.read_csv('./data/금융사기피해자의 연령대별 지역데이터.csv',names=['고유번호', '생년구간', '광역시도명', '법정시군구명', '등록일시'],index_col=0)

In [8]:
df_suspect_origin['광역시도명'].value_counts()

서울특별시                        11912
경기도                           7190
부산광역시                         2079
인천광역시                         1835
대구광역시                         1441
경상남도                          1426
충청남도                          1347
경상북도                          1291
대전광역시                          936
충청북도                           850
강원도                            835
전라북도                           818
광주광역시                          776
전라남도                           656
울산광역시                          578
제주특별자치도                        375
Seoul                          169
Tokyo                           52
England                         50
CentralLuzon                    10
Scotland                         9
Texas                            6
CanTho                           6
NewYork                          6
Busan                            4
Michigan                         4
Florida                          2
TinhThaiNguyen                   2
Illinois                         2
Baden-Württemberg                2
Vienna                           2
TaipeiCity                       2
MetroManila                      2
Jakarta                          2
Georgia                          2
Hsinchu                          1
California                       1
Arizona                          1
Bangkok                          1
CentralandWesternDistrict        1
BritishColumbia                  1
NewSouthWales                    1
VästraGötalandCounty             1
Nevada                           1
Washington                       1
RiodeJaneiro                     1
NewTaipei                        1
Victoria                         1
Hanoi                            1
NewJersey                        1
Ōsaka                            1
WesternVisayas                   1
OsloCounty                       1
BanteayMeanchey                  1
DaNang                           1
Yogyakarta                       1
Name: 광역시도명, dtype: int64

In [9]:
df_suspect_origin = pd.read_csv('./data/금융사기용의자의 연령대별 지역데이터.csv',names=['고유번호', '생년구간', '광역시도명', '법정시군구명', '등록일시'],index_col=0)
df_victim_origin = pd.read_csv('./data/금융사기피해자의 연령대별 지역데이터.csv',names=['고유번호', '생년구간', '광역시도명', '법정시군구명', '등록일시'],index_col=0)
## 지역별 시구군
seoul = '종로구 중구 용산구 성동구 광진구 동대문구 중랑구 성북구 강북구 도봉구 노원구 은평구 서대문구 마포구 양천구 강서구 구로구 금천구 영등포구 동작구 관악구 서초구 강남구 송파구 강동구'.split(' ')
busan = '중구 서구 동구 영도구 부산진구 동래구 남구 북구 강서구 해운대구 사하구 금정구 연제구 수영구 사상구 기장군'.split(' ')
daegu = '중구 동구 서구 남구 북구 수성구 달서구 달성군'.split(' ')
incheon = '중구 동구 미추홀구 연수구 남동구 부평구 계양구 서구 강화군 옹진군'.split(' ')
gwangju = '동구 서구 남구 북구 광산구'.split(' ')
daejun = '동구 중구 서구 유성구 대덕구'.split(' ')
ulsan = '중구 남구 동구 북구 울주군'.split(' ')
gg = '남양주시 수원시 성남시 의정부시 안양시 부천시 광명시 동두천시 평택시 안산시 고양시 과천시 구리시 오산시 시흥시 군포시 의왕시 하남시 용인시 파주시 이천시 안성시 김포시 화성시 광주시 양주시 포천시 여주시 연천군 가평군 양평군'.split(' ')
gangwon = '춘천시 원주시 강릉시 동해시 태백시 속초시 삼척시 홍천군 횡성군 영월군 평창군 정선군 철원군 화천군 양구군 인제군 고성군 양양군'.split(' ')
chungbuk='청주시 충주시 제천시 보은군 옥천군 영동군 증평군 진천군 괴산군 음성군 단양군'.split(' ')
chungnam='천안시 공주시 보령시 아산시 서산시 논산시 계룡시 당진시 금산군 부여군 서천군 청양군 홍성군 예산군 태안군'.split(' ')
jeonbuk='전주시 군산시 익산시 정읍시 남원시 김제시 완주군 진안군 무주군 장수군 임실군 순창군 고창군 부안군'.split(' ')
jeonnam='목포시 여수시 순천시 나주시 광양시 담양군 곡성군 구례군 고흥군 보성군 화순군 장흥군 강진군 해남군 영암군 무안군 함평군 영광군 장성군 완도군 진도군 신안군'.split(' ')
geonbuk='포항시 경주시 김천시 안동시 구미시 영주시 영천시 상주시 문경시 경산시 군위군 의성군 청송군 영양군 영덕군 청도군 고령군 성주군 칠곡군 예천군 봉화군 울진군 울릉군'.split(' ')
geonnam ='창원시 진주시 통영시 사천시 김해시 밀양시 거제시 양산시 의령군 함안군 창녕군 고성군 남해군 하동군 산청군 함양군 거창군 합천군'.split(' ')
jeju='제주시 서귀포시'.split(' ')
sejong = '세종시'.split(' ')
all_region = seoul+ busan +daegu +incheon+gwangju+daejun+ulsan+gg+gangwon+chungbuk+chungnam+jeonbuk+jeonnam+geonbuk+geonnam+jeju+sejong
part = gg+gangwon+chungbuk+chungnam+jeonbuk+jeonnam+geonbuk+geonnam+jeju
def delete_detail_region(region):
    region = str(region)
    if len(region) > 4:
        region=region[0:3]
        for i in all_region:
            if i in region:
                return i
            else:
                return region
    else:
        return region

df_suspect_origin['법정시군구명']=df_suspect_origin['법정시군구명'].apply(lambda x: delete_detail_region(x))
df_victim_origin['법정시군구명']=df_victim_origin['법정시군구명'].apply(lambda x: delete_detail_region(x))

a = list(df_victim_origin['생년구간'].unique()) #2090-2100 2070-2080 => 각각 1개 5개 제외
a.remove ('2090-2100')
a.remove('2070-2080')
a= sorted(a)


b = list(df_suspect_origin['생년구간'].unique()) # 2080-2090 => 1개 제외
b.remove('2080-2090')
b = sorted(b)

region_s = [seoul,busan,daegu,incheon,gwangju,daejun,ulsan,gg ,gangwon ,chungbuk,chungnam,jeonbuk,jeonnam,geonbuk,geonnam ,jeju, sejong]
region_b = ['서울특별시','부산광역시','대구광역시','인천광역시','광주광역시','대전광역시','울산광역시','경기도','강원도','충청북도','충청남도','전라북도','전라남도','경상북도','경상남도','제주특별자치도','세종특별자치시']
region = []
DF = []
for b in range(17):
    for s in region_s[b]:
        DF.append ([region_b[b],s])
        for old in a:
            region.append([region_b[b],s,old])

#DF = pd.DataFrame(columns=['광역시도명','법정시군구명'], data=DF)
#suspect_DF = DF
#victim_DF = DF

DF = pd.DataFrame(columns=['광역시도명','법정시군구명'], data=DF)                   

suspect_Old_DF = pd.DataFrame(columns=['광역시도명','법정시군구명','생년구간'], data=region)
victim_Old_DF = pd.DataFrame(columns=['광역시도명','법정시군구명','생년구간'], data=region)
suspect_Old_DF.to_csv("suspect_Old_DF.csv", mode='w')
victim_Old_DF.to_csv("victim_Old_DF.csv", mode='w')

In [10]:
region_b

['서울특별시',
 '부산광역시',
 '대구광역시',
 '인천광역시',
 '광주광역시',
 '대전광역시',
 '울산광역시',
 '경기도',
 '강원도',
 '충청북도',
 '충청남도',
 '전라북도',
 '전라남도',
 '경상북도',
 '경상남도',
 '제주특별자치도',
 '세종특별자치시']

In [11]:
region_b

['서울특별시',
 '부산광역시',
 '대구광역시',
 '인천광역시',
 '광주광역시',
 '대전광역시',
 '울산광역시',
 '경기도',
 '강원도',
 '충청북도',
 '충청남도',
 '전라북도',
 '전라남도',
 '경상북도',
 '경상남도',
 '제주특별자치도',
 '세종특별자치시']

In [12]:
df_suspect_origin=df_suspect_origin.query('광역시도명 in ["서울특별시","부산광역시","대구광역시","인천광역시","광주광역시","대전광역시","울산광역시","경기도","강원도","충청북도","충청남도","전라북도","전라남도","경상북도","경상남도","제주특별자치도","세종특별자치시"]')

In [13]:
suspect_crosstab=pd.crosstab(df_suspect_origin['광역시도명'], df_suspect_origin['생년구간'], margins=False)

In [14]:
suspect_crosstab

생년구간,1900-1910,1910-1920,1930-1940,1940-1950,1950-1960,1960-1970,1970-1980,1980-1990,1990-2000,2000-2010,2010-2020,2080-2090
광역시도명,,,,,,,,,,,,
강원도,0,0,0,2,4,8,48,51,332,320,70,0
경기도,1,0,10,14,20,208,277,716,2473,2722,749,0
경상남도,4,2,1,1,1,110,69,119,451,477,191,0
경상북도,0,0,2,0,16,18,43,93,528,463,128,0
광주광역시,0,4,0,1,4,18,33,90,213,324,89,0
대구광역시,0,0,15,2,7,29,43,144,613,481,107,0
대전광역시,0,0,21,0,3,12,71,81,307,352,89,0
부산광역시,0,0,2,1,14,39,62,163,687,901,210,0
서울특별시,0,0,37,20,97,247,616,943,4351,4703,897,1
울산광역시,0,0,0,0,0,10,17,29,239,225,58,0
인천광역시,0,0,1,0,8,74,93,218,655,626,160,0
전라남도,0,0,0,0,3,10,35,42,199,307,60,0
전라북도,0,0,2,0,2,11,23,40,350,310,80,0
제주특별자치도,0,0,0,1,0,3,16,29,132,148,46,0
충청남도,0,0,0,1,3,18,55,127,450,570,123,0
충청북도,0,0,0,5,6,16,41,89,285,361,47,0

In [15]:
#교차분석 결과값들 일괄계산
#correction=True를 적용하면 Yates' correction이 적용 되어 검정통계량이 보수적으로 더 낮게 나옴
result=chi2_contingency(observed=suspect_crosstab, correction=False)
print("1. 카이제곱 통계량:", result[0])
print("2. p-value:", result[1])
print("3. df:", result[2]) #(행의개수-1)*(열의개수-1)
print("4. 기대값 행렬:")

1. 카이제곱 통계량: 1157.2150972062286
2. p-value: 1.565206962718404e-148
3. df: 165
4. 기대값 행렬:

In [19]:
pd.DataFrame(result[3]).rename(index={0:'강원도', 1:'경기도', 2:'경상남도', 3:'경상북도', 4:'광주광역시', 5:'대구광역시',
                                      6:'대전광역시', 7:'부산광역시', 8:'서울특별시', 9:'울산광역시', 10:'인천광역시', 11:'전라남도', 12:'전라남도',
                                      13:'전라북도', 14:'제주특별자치도', 15:'충청남도', 16:'충청북도'},
                             columns={0:'1900-1910', 1:'1910-1920', 2:'1930-1940', 3:'1940-1950',
                                      4:'1950-1960', 5:'1960-1970', 6:'1970-1980', 7:'1980-1990', 8:'1990-2000',
                                      9:'2000-2010', 10:'2010-2020', 11:'2080-2090'})

,1900-1910,1910-1920,1930-1940,1940-1950,1950-1960,1960-1970,1970-1980,1980-1990,1990-2000,2000-2010,2010-2020,2080-2090
강원도,0.121561,0.145873,2.212404,1.166982,4.570680,20.203377,37.489300,72.304266,298.188237,323.108167,75.464842,0.024312
경기도,1.046732,1.256078,19.050517,10.048624,39.357112,173.966807,322.812054,622.596011,2567.632843,2782.212840,649.811035,0.209346
경상남도,0.207599,0.249119,3.778308,1.992954,7.805736,34.503014,64.023642,123.480099,509.241229,551.799097,128.877682,0.041520
경상북도,0.187946,0.225535,3.420614,1.804280,7.066764,31.236599,57.962498,111.790188,461.031154,499.560052,116.676780,0.037589
광주광역시,0.112971,0.135566,2.056078,1.084525,4.247722,18.775833,34.840355,67.195341,277.118649,300.277770,70.132596,0.022594
대구광역시,0.209783,0.251740,3.818052,2.013918,7.887844,34.865948,64.697103,124.778978,514.597904,557.603436,130.233338,0.041957
대전광역시,0.136264,0.163517,2.480012,1.308138,5.123541,22.647139,42.023934,81.050051,334.256515,362.190712,84.592925,0.027253
부산광역시,0.302664,0.363197,5.508487,2.905576,11.380172,50.302781,93.341622,180.024632,742.435143,804.481293,187.893900,0.060533
서울특별시,1.734168,2.081002,31.561858,16.648013,65.204717,288.218722,534.817412,1031.483127,4253.914107,4609.418547,1076.571495,0.346834
울산광역시,0.084146,0.100975,1.531460,0.807803,3.163896,13.985092,25.950677,50.050138,206.410540,223.660504,52.237939,0.016829
인천광역시,0.267142,0.320571,4.861989,2.564565,10.044548,44.399039,82.386665,158.896200,655.299898,710.064056,165.841898,0.053428
전라남도,0.095502,0.114602,1.738128,0.916815,3.590857,15.872354,29.452671,56.804309,234.265250,253.843063,59.287349,0.019100
전라남도,0.119086,0.142903,2.167361,1.143223,4.477624,19.792051,36.726045,70.832203,292.117339,316.529917,73.928432,0.023817
전라북도,0.054593,0.065512,0.993594,0.524094,2.052701,9.073373,16.836512,32.471976,133.916873,145.108458,33.891396,0.010919
제주특별자치도,0.196098,0.235318,3.568991,1.882545,7.373300,32.591556,60.476751,116.639336,481.029407,521.229582,121.737895,0.039220
충청남도,0.123744,0.148493,2.252147,1.187946,4.652788,20.566312,38.162760,73.603145,303.544912,328.912505,76.820498,0.024749